@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Stick&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 100px;
    background: #393232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #f2dd77;
    font-family: 'Stick';
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #f2dd77;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-family: 'Stick';
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #f2dd77;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #393232;
}

.detel {
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1 {
    font-size: 50px;
    color: #E48257;
    margin-bottom: 20px;
    font-family: 'Stick';
}

.detel p {
    color: #F2EDD7;
    font-family: 'Stick';
    font-size: 20px;
    line-height: 35px;
}

.detel .description {
    color: #f2dd77;
    font-family: sans-serif;
    font-size: 15px;
}

.detel .btnGamePlay {
    padding: 10px 18px;
    display: inline-block;
    margin: 30px 0;
    background: transparent;
    border: 2px solid #F2EDD7;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #F2EDD7;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-decoration: none;
}

.detel .btnGamePlay:hover {
    background: #F2EDD7;
    color: #393232;
}

.images {
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 30%;
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

footer {
    position: absolute;
    display: flex;
    background-color: #393232;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.footerBottom {
    padding: 20px;
    text-align: center;
}

.footerBottom {
    color: #F2EDD7;
    font-family: 'Poppins';
}

.developer {
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: #E48257;
}