@import url('https://fonts.googleapis.com/css2?family=Stick&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #000;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #191A19;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #1E5128;
}

.logo {
  color: #D8E9A8;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 900;
  transition: 0.3s;
}

.navbar a {
  color: #4E9F3D;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #D8E9A8;
}

.navbar a.current-page {
  padding-bottom: 5px;
  border-bottom: 2px solid #4E9F3D;
}

#menu-icon {
  font-size: 36px;
  color: #D8E9A8;
  display: none;
  border-radius: 10px;
}

/* for contents */

.contents-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10vh 10vw;
  justify-content: center;
  align-items: center;
}

.contents-container .main-title {
  position: relative;
  width: 100%;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  background: #1E5128;
  border: 5px solid #4E9F3D;
  border-radius: 5px;
}

.main-title .game-content {
  position: relative;
}

.main-title .image {
  position: relative;
  width: 30%;
}

.main-title .image img {
  position: relative;
  width: 100%;
  border: 2px solid #1E5128;
  border-radius: 5px;
}

.game-content .game-title {
  font-family: 'Stick', sans-serif;
  font-size: 50px;
  color: #D8E9A8;
}

.game-content p {
  font-family: 'Stick', sans-serif;
  font-size: 20px;
  color: #D8E9A8;
  padding: 5%;
}

.game-content p .caution-message {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 15px;
  color: #4E9F3D;
}

.game-content .game-start-btn {
  margin-left: 5%;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 20px;
  color: #D8E9A8;
  background-color: #1E5128;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #D8E9A8;
  border-radius: 10px;
  transition: 0.3s;
}

.game-content .game-start-btn:hover {
  color: #1E5128;
  background-color: #D8E9A8;
}

.contents-container .notice-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1%;
}

.area-title {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 40px;
  color: #D8E9A8;
  font-weight: 900;
  margin: 1%;
}

.notice-content {
  width: 100%;
  background: #D8E9A8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #4E9F3D;
  border-radius: 5px;
}

.notice-anchor {
  text-decoration: none;
  color: #1E5128;
}

.notice-anchor:hover {
  text-decoration: underline;
}

.notice-title {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 20px;
  color: #1E5128;
  margin-left: 5px;
}

.notice-date {
  text-align: center;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 15px;
  color: #1E5128;
}

.notice-content p {
  text-align: center;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 15px;
  color: #1E5128;
  padding: 10px;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

footer .footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBottom p {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 14px;
  color: #1E5128;
  margin: 10px auto;
}
.footerBottom .developer {
  color: #4E9F3D;
  font-weight: 500;
}

/* FOR SUB PAGE ARTICLES START */
.articles-container {
  margin-top: 0;
  width: 100%;
  padding-top: 0;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
}

.articles-container .article-path {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  color: #D8E9A8;
}

.articles-container .article-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.articles-container .article-box .article-title {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.articles-container .article-box .article-title h1 {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 40px;
  color: #D8E9A8;
  text-align: center;
}

.articles-container .article-box .article-date {
  text-align: right;
  margin-right: 10px;
}

.articles-container .article-box .article-date .date {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 15px;
  color: #D8E9A8;
}

.articles-container .article-box .article-content {
  padding: 10%;
}

.articles-container .article-box .article-content p {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 20px;
  color: #D8E9A8;
}
/* FOR SUB PAGE ARTICLES END */

/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 5%;
    background: #191A19;
    border-bottom: 2px solid #1E5128;
    backdrop-filter: blur(10px);
    display: none;
    z-index: 99;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }

  .footerBottom p {
    font-size: 8px;
  }

  .main-title .image {
    display: none;
  }
  
  .main-title .image img {
    display: none;
  }

  .game-content .game-title {
    font-size: 20px;
  }

  .game-content p {
    font-size: 12px;
  }

  .game-content p .caution-message {
    font-size: 10px;
    color: #FF0000;
    font-weight: 900;
  }

  .game-content .game-start-btn {
    font-size: 12px;
    padding: 5px 5px;
  }

  .area-title {
    font-size: 20px;
  }

  .notice-title {
    font-size: 14px;
  }
  .notice-date {
    font-size: 10px;
  }
  
  .notice-content p {
    font-size: 11px;
  }

  .articles-container .article-path {
    font-size: 10px;
  }

  .articles-container .article-box .article-title h1 {
    font-size: 20px;
  }

  .articles-container .article-box .article-date .date {
    font-size: 10px;
  }

  .articles-container .article-box .article-content p {
    font-size: 12px;
  }
}
